<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/appinventiv/IdeaProjects/APIAutomationRestAssured/src/test/java/Parallel/Main.java"><classes><class name="Parallel.Main"><methods><include name="testMethodsOne"/><include name="testMethodsTw0"/><include name="testMethodsThree"/></methods></class></classes></test></suite>