<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/appinventiv/IdeaProjects/APIAutomationRestAssured/src/test/java/crud"><classes><class name="crud.GET.GetRequestNonBDDStyle"><methods><include name="TestNegative"/><include name="TestNegative2"/><include name="TestPositive"/></methods></class><class name="crud.POST.BDDStylePost"><methods><include name="TestBDDStylePositive"/></methods></class><class name="crud.POST.NonBDDStylePost"><methods><include name="PostNonBDDStylePositive"/><include name="PostNonBDDStylePositive2"/></methods></class><class name="crud.PUT.NonBDDPut"><methods><include name="NonBDDPutPositive"/></methods></class></classes></test></suite>